.page {
    position: fixed;
    width: 700px;
    height: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    border: 1px solid red;
}
.triangleImage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 150px;
    height: 150px;
    clip-path: polygon(0% 0%, 45% 0%, 100% 50%, 100% 100%);
}
.forkMyGithub {

}

.myPanel {
    width: 100%;
    height: 600px;
    text-align: center;
    background: darkorange;
    opacity: 0.8;
    clip-path: polygon(2% 2%,80% 2%,100% 25%,32% 25%,32% 98%, 4% 98%,4% 25%, 2% 25%);
    z-index: 8;
}

.myHeadPhoto{
    position: absolute;
    height: 40px;
    width: 60px;
    left: 44%;
    top: 2px;
    background: red;
    clip-path: polygon(0% 8%, 25% 35%, 50% 0%, 75% 35%, 100% 8%, 88% 100%, 12% 100%);
}

.myPhoto {
    position: absolute;
    top: 42px;
    left: 40%;
    width: 120px;
    height: 120px;
    background: pink;
    clip-path: ellipse(50% 50% at 50% 50%);
}

.personMess{
    position: absolute;
    height: 100px;
    width: 21%;
    left: 5%;
    top: 30%;
}

.cellImage {
    width: 22px;
    height: 22px;
}

.perUl {
    display: flex;
}

.myMess {
    position: absolute;
    left: 33%;
    top: 26%;
    width: 60%;
    height: 70%;
    background: #BDCFE4;
}