/*自媒体查询*/
@media screen and (max-width: 600px){
    .page {
        position: relative;
        width: 794px;
        height: 1090px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 5px;
        border: 1px solid red;
    }
}


@media screen and (min-width: 600px) and (max-width: 800px){
    .page {
        position: relative;
        width: 600px;
        height: 1090px;
        border-radius: 5px;
        border: 1px solid red;
    }
}

@media screen and (min-width: 800px){
    .page {
        position: relative;
        width: 794px;
        height: 1090px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: 5px;
        border: 1px solid red;
    }
}


.triangleCatImage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12;
    width: 40px;
    height: 40px;
    background-image: url("../../images/svg/gitHub.svg");
    background-size: contain;
}

.triangleCatImage:hover {
    animation: moveCat 2s linear forwards;
}


.forkMyGithub {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 150px;
    height: 150px;
    clip-path: polygon(5% 0%, 45% 0%, 100% 55%, 100% 95%);
}


.myPanel {
    width: 100%;
    height: 1060px;
    text-align: center;
    background: darkorange;
    opacity: 0.8;
    clip-path: polygon(5px 5px,650px 5px,100% 150px,32% 150px,32% 98%, 15px 98%,15px 150px, 5px 150px);
    z-index: 8;
}

.myHeadPhoto{
    position: absolute;
    height: 30px;
    width: 50px;
    left: 95px;
    top: 15px;
    background: red;
    clip-path: polygon(0% 8%, 25% 35%, 50% 0%, 75% 35%, 100% 8%, 88% 100%, 12% 100%);
}

.myPhoto {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 100px;
    height: 100px;
    background: pink;
    clip-path: ellipse(50% 50% at 50% 50%);
    animation : moveCat 2s linear ;
    animation-delay : 1s;
    animation-fill-mode:forwards;
}

@keyframes moveCat {
    0% {
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(240deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
/*使用::after添加一张图片*/
.myPhoto::after {
    content: "";
    width: 120px;
    height: 150px;
    background: url("../../images/cat.png");
    background-size: contain;
    display: inline-block;
}

.myPhoto:hover {
    width: 120px;
    height: 120px;
    left: 63px;
}

.myPhoto:hover::after {
    content: "";
    width: 130px;
    height: 180px;
    background: url("../../images/catSing.png");
    background-size: contain;
    display: inline-block;
}

.showMyName {
    position: relative;
    width: 100px;
    top: 150px;
    left: 70px;
}


.personMess{
    position: absolute;
    height: 100px;
    width: 21%;
    left: 35px;
    top: 200px;
}

.cellImage {
    width: 22px;
    height: 22px;
}

.perName {
    text-align: left;
}
.perName::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/name.svg") no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 5px;
}

.perName::after {
    content: "";
    width: 160px;
    height: 1px;
    background: #222222;
    display: inline-block;
    top: 30px;
    position: absolute;
    left: 25px;
}


.perCellPhone {
    text-align: left;
}
.perCellPhone::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/phone.svg") ;
    background-size: contain;
    display: inline-block;
}

.perEva {
  text-align: left;
}

.perEva::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/evaluate.svg") ;
    background-size: contain;
    display: inline-block;
}
.perEmail {
    text-align: left;
}
.perEmail::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/email.svg") ;
    background-size: contain;
    display: inline-block;
}
.perExp{
    text-align: left;
}
.perExp::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/workExp.svg") ;
    background-size: contain;
    display: inline-block;
}

.perStu {
    text-align: left;
}
.perStu::before{
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/stuExp.svg") ;
    background-size: contain;
    display: inline-block;
}

.perSkill {
    text-align: left;
}
.perSkill::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/skill.svg") ;
    background-size: contain;
    display: inline-block;
}

.skillProgress {
    position: absolute;
    left: 80px;
    top: 600px;
}

.skillProgress progress {
    width: 100px;
    height: 15px;
}

.myJavaProgress::before {
    content: "Java";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -38px;
}
.myLinuxProgress::before {
    content: "Linux";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -52px;
}

.myOracleProgress::before {
    content: "Oracle";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -65px;
}

.mySqlProgress::before {
    content: "Mysql";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -58px;
}
.myReactProgress::before {
    content: "React";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -54px;
}

.myVueProgress::before {
    content: "Vue";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -34px;
}

.myJavaScriptProgress::before {
    content: "JavaScript";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -120px;
}

.myJqueryProgress::before {
    content: "Jquery";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -67px;
}

.myCssProgress::before {
    content: "Css";
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-left: -30px;
}

/*右下角信息*/
.myMess {
    position: absolute;
    left: 33%;
    top: 170px;
    width: 520px;
    height: 850px;
    background: #BDCFE4;
}

.workTopLine {
    width: 450px;
    height: 1px;
    background-color: blue;
    position: absolute;
    top: 35px;
    left: 30px;
}

.workExp {
    position: absolute;
    top: 5px;
    left: 5px;
}

.workExp::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/workExp.svg") ;
    background-size: contain;
    display: inline-block;
}

/*左上角直线*/
.workLeftTopLine {
    width: 1px;
    height: 150px;
    background-color: blue;
    left: 20px;
    position: absolute;
    top: 35px;
}

.workLeftTopLine::before, .workLeftTopLine::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: lawngreen;
    position: absolute;
    left: 0;
    transform: translateX(-50%)
}

.workLeftTopLine::before {
    top: 40px;
}

.workLeftTopLine::after {
    top : 100px;
}

/*左下角直线start*/

.workLeftBottomLine {
    width: 1px;
    height: 150px;
    background-color: blue;
    left: 20px;
    position: absolute;
    top: 180px;
}

.workLeftBottomLine::before, .workLeftBottomLine::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: lawngreen;
    position: absolute;
    left: 0;
    transform: translateX(-50%)
}

.workLeftBottomLine::before{
    top: 40px;
}

.workLeftBottomLine::after {
    top: 80px;
}
/*左下角直线end*/


.workTable{
    width: 380px;
    position: absolute;
    left: 10px;
    top: 50px;
}

.workTable ul {
    display: flex;
}

.workTable ul:first-child {
    height: 80px;
}

.workTable ul:nth-child(2) {
    height: 80px;
}

.workLeftBottomLine ul:last-child {
    height: 80px;
}

.workTable ul>li:first-child {
    flex: 2;
}
.workTable ul>li:last-child {
    flex: 3;
}