/*自媒体查询*/
.page {
        position: relative;
        width: 794px;
        height: 1090px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 35px auto;
        border-radius: 5px;
        border: 1px solid red;
      /*  background: url("../../images/label/2.png") no-repeat;
         background-size: 794px 1090px;*/
    }


.triangleCatImage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12;
    width: 40px;
    height: 40px;
    background-image: url("../../images/svg/gitHub.svg");
    background-size: contain;
}

.triangleCatImage:hover {
    animation: moveCat 2s linear forwards;
}


.forkMyGithub {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 150px;
    height: 150px;
    clip-path: polygon(5% 0%, 45% 0%, 100% 55%, 100% 95%);
}
.forkMyGithub::after {
    content: "";
    display: inline-block;
    background-image: url("../../images/forkme.png");
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
}


.myPanel {
    width: 100%;
    height: 1060px;
    text-align: center;
    background: rgba(1,2,6,0.84);
    clip-path: polygon(5px 5px,650px 5px,100% 150px,260px 150px,260px 98%, 10px 98%,10px 150px, 5px 150px);
    z-index: 8;
}

/*王冠*/
.headPhotoCircle::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 50px;
    left: 23px;
    top: -33px;
    background: red;
    clip-path: polygon(0% 8%, 25% 35%, 50% 0%, 75% 35%, 100% 8%, 88% 100%, 12% 100%);
}

.headPhotoCircle {
    position: relative;
    top: 50px;
    left: 70px;
    width: 100px;
    height: 100px;
    animation : moveCat 2s linear ;
    animation-delay : 1s;
    animation-fill-mode:forwards;
    color: white;
}
.headPhotoCircle::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: url("../../images/cat.png") no-repeat;
    background-size: 110px 150px;
}

.headPhotoCircle:hover::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: url("../../images/catSing.png") no-repeat;
    background-size: 100px 150px;
}

@keyframes moveCat {
    0% {
        transform: rotateY(0deg);
    }
    25%{
        transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}



.showMyName {
    position: relative;
    width: 100px;
    top: 55px;
    left: 70px;
    color: white;
}
.showMyName::after {
    content: attr(data);
    display: inline-block;
}

.personMess{
    position: absolute;
    height: 100px;
    width: 240px;
    left: 15px;
    top: 200px;
}
/*
.personMess::before {
    content: "个人信息";
    width: 120px;
    height: 22px;
    background: url("../../images/svg/name.svg") no-repeat;
    background-size: 22px 22px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: -60px;
}

.personMess::after {
    content: "";
    width: 200px;
    height: 1px;
    background: #222222;
    display: inline-block;
    top: 30px;
    position: absolute;
    left: 25px;
}*/
.phone, .university, .major, .email, .address{
    height: 35px;
}
.phone::before {
    content: attr(data);
    width: 240px;
    height: 35px;
    background: url("../../images/svg/phone.svg") no-repeat  0px 4px;
    display: inline-block;
    background-size: 22px 22px;
    padding-left: 35px;
    color: white;
    line-height: 35px;
    text-align: left;
}


.university::before {
    content: attr(data);
    width: 240px;
    height: 35px;
    background: url("../../images/svg/university.svg") no-repeat  0px 4px;
    display: inline-block;
    background-size: 22px 22px;
    padding-left: 35px;
    color: white;
    line-height: 35px;
    text-align: left;
}


.major::before {
    content: attr(data);
    width: 240px;
    height: 35px;
    background: url("../../images/svg/major.svg") no-repeat 0px 4px;
    display: inline-block;
    background-size: 22px 22px;
    padding-left: 35px;
    color: white;
    line-height: 35px;
    text-align: left;
}

.email::before {
    content: attr(data);
    width: 240px;
    height: 35px;
    background: url("../../images/svg/email.svg") no-repeat  0px 4px;
    display: inline-block;
    background-size: 22px 22px;
    padding-left: 35px;
    color: white;
    line-height: 35px;
    text-align: left;
}

.address::before {
    content: attr(data);
    width: 240px;
    height: 35px;
    background: url("../../images/svg/address.svg") no-repeat 0px 5px;
    display: inline-block;
    background-size: 22px 22px;
    padding-left: 35px;
    color: white;
    line-height: 35px;
    text-align: left;
}


.skillProgress {
    position: absolute;
    left: 15px;
    top: 500px;
    width: 240px;
    height: 400px;
}

.skillProgress::before {
    content: "个人技能";
    width: 100px;
    height: 22px;
    display: inline-block;
    left: 0px;
    top: -30px;
    position: absolute;
    padding-left: 10px;
    background: url("../../images/svg/skill.svg") no-repeat;
    background-size: 22px 22px;
    color: white;
}

.skillProgress::after {
    content: "";
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: blue;
    position: absolute;
    top: -5px;
    left: 25px;
}


.myJava,.myLinux,.myOracle,.mySql,.myReact,.myVue,.myJquery,.myJavaScript,.myCss {
    width: 200px;
    height: 28px;
    margin-bottom: 8px;
    padding-left: 40px;
    left: 1px;
    line-height: 28px;
}

.myJava::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/java.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.myLinux::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/linux.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.myOracle::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/oracle.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.mySql::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/mysql.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}
.myReact::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/react.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.myVue::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/vue.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.myJavaScript::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/javascript.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.myJquery::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/jquery.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

.myCss::before {
    content: "";
    width: 50px;
    height: 30px;
    background: url("../../images/svg/skill-icon/css.svg") no-repeat 0px 0px;
    display: inline-block;
    background-size: 30px 30px;
    position: absolute;
    left: 0;
}

/*右下角信息*/
.myWorkDetail {
    position: absolute;
    left: 265px;
    top: 155px;
    width: 525px;
    height: 280px;
    background: #BDCFE4;
}

.workTimeLine {
    position: absolute;
    left: 15px;
    top: 45px;
    text-align: left;
}

.workExp {
    position: absolute;
    top: 5px;
    left: 5px;
}

.workExp::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../../images/svg/workExp.svg") ;
    background-size: contain;
    display: inline-block;
}
.workExp::after {
    content: "";
    display: inline-block;
    width: 450px;
    height: 1px;
    background-color: blue;
    position: absolute;
    top: 30px;
    left: 25px;
}

.workExp>div::before {
    content: "公司经历";
    display: inline-block;
    background: blue;
    width: 120px;
    height: 20px;
    clip-path: polygon(0 0, 85% 0, 100% 20px, 0 20px);
    position: absolute;
    top: 5px;
    left: 25px;
    color: white;
    padding-left: 5px;
    text-align: left;
    line-height: 20px;
}

/*左上角直线*/
.workLeftTopLine {
    width: 1px;
    height: 150px;
    background-color: blue;
    left: 20px;
    position: absolute;
    top: 35px;
}

.workLeftTopLine::before, .workLeftTopLine::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: lawngreen;
    position: absolute;
    left: 0;
    transform: translateX(-50%)
}

.workLeftTopLine::before {
    top: 40px;
}

.workLeftTopLine::after {
    top : 100px;
}

/*左下角直线start*/

.workLeftBottomLine {
    width: 1px;
    height: 40px;
    background-color: blue;
    left: 20px;
    position: absolute;
    top: 180px;
}

.workLeftBottomLine::before, .workLeftBottomLine::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: lawngreen;
    position: absolute;
    left: 0;
    transform: translateX(-50%)
}

.workLeftBottomLine::before{
    top: 40px;
}

.workLeftBottomLine::after {
    top: 40px;
}
/*左下角直线end*/

/*工作经历css start*/
.workTable{
    width: 520px;
    margin-top: 35px;
    margin-left: 5px;
}

.workTable ul {
    display: flex;
}

.workTable ul:first-child {
    height: 80px;
}

.workTable ul:nth-child(2) {
    height: 80px;
}

.workTable ul:last-child {
    height: 80px;
}

.workTable ul>li:first-child {
    flex: 2;
}
.workTable ul>li:last-child {
    flex: 3;
}
/*工作经历css end*/

.projectDetail {
    position: absolute;
    background: lightgreen;
    left: 265px;
    top: 455px;
    width: 525px;
    height: 280px;
}

.projectLeftTopLine {
    width: 1px;
    height: 150px;
    background-color: blue;
    left: 20px;
    position: absolute;
    top: 35px;
}

.projectLeftTopLine::before,.projectLeftTopLine::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: lawngreen;
    position: absolute;
    left: 0;
    transform: translateX(-50%)
}


.projectLeftTopLine::before {
    top: 40px;
}

.projectLeftTopLine::after {
    top : 100px;
}

.projectExp {
    position: absolute;
    left: 10px;
}

.projectExp::before {
    content: "";
    display: inline-block;
    background-image: url("../../images/svg/workExp.svg");
    background-size: contain;
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.projectExp::after {
    content: "";
    display : inline-block;
    width: 450px;
    height: 1px;
    background: #222222;
    position: absolute;
    left: 20px;
    top: 28px;
}


.projectExp>div::before {
    content: "项目经历";
    display: inline-block;
    background: blue;
    width: 120px;
    height: 20px;
    clip-path: polygon(0 0, 85% 0, 100% 20px, 0 20px);
    position: absolute;
    top: 5px;
    left: 25px;
    color: white;
    padding-left: 5px;
    text-align: left;
    line-height: 20px;
}

.projectLeftBottomLine {
    width: 1px;
    height: 40px;
    background-color: blue;
    left: 20px;
    position: absolute;
    top: 180px;
}

.projectLeftBottomLine::before, .projectLeftBottomLine::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    clip-path: ellipse(50% 50% at 50% 50%);
    background: lawngreen;
    position: absolute;
    left: 0;
    transform: translateX(-50%)
}

.projectLeftBottomLine::before{
    top: 40px;
}

.projectLeftBottomLine::after {
    top: 40px;
}


.expTable {
    margin-top: 35px;
    margin-left: 5px;
    width: 520px;
}
.expTable ul {
    display: flex;
    height: 80px;
}
.expTable ul>li:first-child{
      flex: 2;
}
.expTable ul>li:nth-child(2){
    flex: 3;
}