/**
 *定义全局样式
 */
@media screen and (max-width: 600px){
    .centerIndex {
        width: 100vw;
    }
    .leftIndex,.rightIndex {
      display: none;
    }
}


@media screen and (min-width: 600px) and (max-width: 800px){
    .centerIndex {
        width: 600px;
    }
    .leftIndex,.rightIndex {
        width: calc((100vw - 600px)/2);
        height: 100vh;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    .centerIndex {
        width: 800px;
    }
    .leftIndex,.rightIndex {
        width: calc((100vw - 800px)/2);
        height: 100vh;
    }
}

@media screen and (min-width: 1200px){
    .centerIndex {
        width: 1000px;
    }
    .leftIndex,.rightIndex {
        width: calc((100vw - 1000px)/2);
        height: 100vh;
    }
}



body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
ul>li {
    list-style: "none"
}
